@import "common";
@import "variables/colors";
@import "animation";

.rcw-laucner-button-holder {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .rcw-laucner-button-holder {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}

@media screen and (max-height: 900px) {
  .rcw-laucner-button-holder.rcw-laucner-button-holder-chat-is-open {
    display: none;
  }
}

.rcw-launcher-animated-button {
  position: relative;
  top: 10px;
  padding: 0;
  outline: none;
  cursor: pointer;
  border-radius: 28px;
  color: #fff;
  border: 0;

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .rcw-close-icon {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .rcw-launcher-animated-button {
    top: 0;
    border-radius: 20px;

    .rcw-testimonials-container {
      height: auto;
      font-size: 11px;
      padding: 0;
    }
  }
}

// .rcw-launcher {
//   @include animation(0, 0.5s, slide-in);
//   align-self: flex-end;
//   background-color: $turqois-1;
//   border: 0;
//   border-radius: 50%;
//   box-shadow: 0px 2px 10px 1px $grey-3;
//   height: 60px;
//   margin-top: 10px;
//   cursor: pointer;
//   width: 60px;

//   &:focus {
//     outline: none;
//   }
// }

.rcw-launcher-avatar-image {
  position: absolute;
  top: -9px;
  right: -1px;
  z-index: 10;
  width: 55px;
  height: 55px;
}

// .rcw-open-launcher {
//   @include animation(0, 0.5s, rotation-rl);
// }

// .rcw-close-launcher {
//   width: 20px;
//   @include animation(0, 0.5s, rotation-lr);
// }

// @media screen and (max-width: 800px) {
//   .rcw-launcher {
//     @include launcher-fs;
//   }

//   .rcw-hide-sm {
//     display: none;
//   }
// }
