@import "variables/colors";
@import "common";

.rcw-message {
  margin: 10px;
  display: flex;
  word-wrap: break-word;
}

.rcw-timestamp {
  font-size: 10px;
  margin-top: 5px;
}

.rcw-client {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  .rcw-message-text {
    @include message-bubble($turqois-2);
  }

  .rcw-timestamp {
    align-self: flex-end;
  }
}

.rcw-response {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .rcw-message-text {
    @include message-bubble($grey-2);
  }
}

/* For markdown elements created with default styles */
.rcw-message-text {
  p {
    margin: 0;
    line-height: 1.45;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.rcw-video-message-button {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  text-align: left;
  outline: none;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.75;
  }

  svg {
    min-width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.rcw-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
