@import "variables/colors";
@import "common";

.rcw-message {
  margin: 10px;
  display: flex;
  word-wrap: break-word;
}

.rcw-timestamp {
  font-size: 10px;
  margin-top: 5px;
}

.rcw-client {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  .rcw-message-text {
    @include message-bubble($turqois-2);
  }

  .rcw-timestamp {
    align-self: flex-end;
  }
}

.rcw-response {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .rcw-message-text {
    @include message-bubble($grey-2);
  }
}

/* For markdown elements created with default styles */
.rcw-message-text {
  p {
    margin: 0;
    line-height: 1.45;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.rcw-video-message-button {
  margin-top: 3px;
  background: rgb(243, 243, 243);
  color: rgb(52, 28, 28);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.rcw-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
