.rcw-phone-number-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 125px;
  width: 100%;
  height: 45px;
  padding-left: 18px;
  background: #fff;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  img {
    width: 27px;
    margin-right: 10px;
  }
}
