.rcw-phone-number-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 125px;
  z-index: 15;
  width: 100%;
  height: 45px;
  padding-left: 18px;
  background: #fff;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  svg {
    width: 24px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .rcw-phone-number-container {
    top: 120px;
  }
}
