@import "animation";
@import "common";

.rcw-widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 415px;
  position: fixed;
  right: 0;
  width: 90vw;
  z-index: 9999;
}

@media screen and (max-width: 800px) {
  .rcw-widget-container {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    margin: 0;
  }
}

.rcw-previewer .rcw-message-img {
  cursor: pointer;
}
