@import "variables/colors";
@import "common";

.rcw-messages-container {
  background-color: $white;
  overflow-y: scroll;
  padding-top: 25px;
  -webkit-overflow-scrolling: touch;
}

.rcw-full-screen {
  .rcw-messages-container {
    @include messages-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-messages-container {
    @include messages-container-fs;
  }
}
