@import "variables/colors";
@import "common";

.rcw-messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $white;
  overflow-y: scroll;
  z-index: 10;

  &.rcw-messages-container-with-padding-top {
    padding-top: 45px;
  }
}

@media screen and (max-width: 800px) {
  .rcw-messages-container {
    &.rcw-messages-container-with-padding-top {
      padding-top: 50px;
    }
  }
}
