@import "common";
@import "variables/colors";
@import "animation";

.rcw-conversation-container {
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px $grey-3;

  &.active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &.hidden {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.rcw-full-screen {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

.rcw-quick-responses-list {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 52px;
  margin: 0;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.rcw-responses-block {
  position: absolute;
  right: 8px;
  bottom: 45px;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  li {
    list-style: none;
    background: transparent;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.rcw-quick-response-button {
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.rcw-more-replies-button {
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 6px 12px;
  cursor: pointer;
  transition: .2s ease;

  &:hover {
    border: 1px solid black;
  }
}
