@import "common";
@import "variables/colors";
@import "animation";

.rcw-conversation-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &.active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &.hidden {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.rcw-full-screen {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

.rcw-responses-carousel {
  position: relative;
  min-height: 160px;
  padding: 10px;
  border-top: 1px solid lightgray;
  background: #fff;
}

@media screen and (max-width: 600px) {
  .rcw-responses-carousel {
    width: 100%;
  }
}

.rcw-responses-animated-container {
  position: absolute;
  top: 10px;
  left: 10px;

  &.rcw-responses-additional-paddings {
    left: 45px;
  }
}

.rcw-quick-response-button {
  max-width: 290px;
  margin-bottom: 7px;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.6;
  }
}

.rcw-responses-nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 5px;

  button {
    margin: 0 0 7px 4px;
    padding: 5px;
    width: 25px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid lightgrey;
    transition: 0.2s ease;
    outline: none;
    color: #333;

    &:disabled {
      opacity: 0.6;
    }

    &:hover:not(:disabled) {
      border: 1px solid black;
      cursor: pointer;
    }
  }
}
