@import "variables/colors";
@import "common";

.rcw-conversation-container {
  .rcw-header {
    background-color: $turqois-1;
    border-radius: 10px 10px 0 0;
    color: $white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0 15px;

    @media screen and (max-width: 600px) {
      border-radius: 0;
    }
  }

  .rcw-title {
    font-size: 23px;
    margin: 0;
    padding: 10px 0;

    @media screen and (max-width: 600px) {
      font-size: 21px;
    }
  }
}

.rcw-header-close-button {
  position: absolute;
  top: 15px;
  right: 26px;
  background: transparent;
  border: 0;

  img {
    width: 20px;
    height: 20px;
  }
}
